/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
} */

* {
  scroll-behavior: smooth;
}

.calender-td:hover {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.calender-td:active {
  transform: scale(0.99);
}
